<h2>Prijava korisnika</h2>
<form>
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td>
                <input type='text' name='kor_ime' [(ngModel)]='kor_ime'>
            </td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td>
                <input type='text' name='lozinka' [(ngModel)]='lozinka'>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button (click)='prijava()'>Prijava</button>
            </td>
        </tr>
    </table>
</form>
<span style='color: red'>{{greska}}</span>